.news {
    width: 100%;
    background-color: rgb(0, 255, 34);
    height: 60vh;
    opacity: 0.7;
    margin-bottom: 3em;
}

.h3 {
    position: relative;
    left: 25%;
    top: 30%;
}

.saibamais {
    position: relative;
    left:45%;
    top: 36%;
}