.cards {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 3em;
    margin-top: 7em;
    width: 100vw;
}

.card {
    width: 25%;
    min-height: 30em;
    box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;
   }
   
   
   .card .titlecard {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-top: 3em;
    position: relative;
    top: 5%;
    font-weight: 400;
   }
   
   .card .pricecard {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.9em;
    position: relative;
    top: 10%;
   }
   
   .card:hover {
    transform: scale(1.1);
   }
   
   .imagecard, .imagecard1, .imagecard2 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25em;
    width: 100%;
    display: grid;
    place-items: center;
   }

   .imagecard {
    background-image: url(/public/images/TwoBottles.jpg);
   }

   .imagecard1 {
    background-image: url(/public/images/ThreeBottles.jpg) ;
   }

   .imagecard2 {
    background-image: url(/public/images/AllCollect.jpg);
   }

   @media (max-width: 750px) {
    .cards {
        flex-direction: column;
    }  
    .card {
        width: 50%;
   }
}