body { 
    font-size: 15px;
    margin: 0;
    padding: 0;
    display: block;
    font-family: Josefin sans;
    font-weight: bold;
  }
  
   .background {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../public/images/TerraBonaSea.png);
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }

   .journey {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left:25%;
    top: 40vh;
    width: 50%;
    text-align: center;
    color: aliceblue;
    /* margin: auto; */
   }

   h1 {
    /* text-align: center;
    color: aliceblue;
    margin: auto; */
   }

   @media screen and (max-width: 585px) {
    * {
        /* font-size: 8px; */
    }

   }

   @media screen and (max-width: 650px) {
    * {
        font-size: 12px;
   }
}

   @media screen and (min-width: 650px) and (max-width: 750px) {
    * {
        font-size: 12px;
   }
}

   @media screen and (min-width: 750px) and (max-width: 1080px) {
    * {
        font-size: 13px;
    } 
   }