p {
    /* position: relative;
    top: 2em; */
    text-align: center;
    width: 50%;
}

h3 {
    /* position: relative;
    top: 3em; */
    text-align: center;
    width: 50%;
    padding-bottom: 1em;
}

.separate {
    position: relative;
    left: 25%;
    margin-top: 3em;
    margin-bottom: 5em;
}